body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
display: flex;
justify-content: center;
gap: 30px;
background-color: black;
}
.container a{
    padding: 16px;
    color: white;
    font-size: 18px;
    text-decoration: none;
}
